<header class="bg-red-500 w-full">
    <nav class="container mx-auto py-4">
      <ul>
        <a href="#" class="text-white text-xl font-bold">Inventory but awesome</a>
      </ul>
    </nav>
  </header>
